[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly
[submodule "fbthrift"]
	path = fbthrift
	url = https://github.com/facebook/fbthrift
[submodule "tlsh"]
	path = tlsh
	url = https://github.com/trendmicro/tlsh
